﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGrid</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>





    <script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({

                "processing": true, // muestra el mensaje de procesando 
                "serverSide": true, // calculos del procesamiento (filtrado, paginación y clasificación)
                "filter": true, // habilita el cuadro de busqueda (search box)
                "orderMulti": false, // for disable multiple column at once ordena multiples columnas 
                "pageLength": 10,

                "ajax": {
                    "url": "/Demo/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "targets": [17],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [18],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [19],
                        "searchable": true,
                        "orderable": false
                    }
               ],

                "columns": [
                    { "data": "OrderID", "name": "OrderID", "autoWidth": true },
                    { "data": "OrderDate", "name": "OrderDate", "autoWidth": true },
                    { "data": "CustomerType", "title": "CustomerType", "name": "CustomerType", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "ProductType", "name": "ProductType", "autoWidth": true },
                    { "data": "ProductModel", "name": "ProductModel", "autoWidth": true },
                    { "data": "ProductDescription", "name": "ProductDescription", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true },
                    { "data": "FailureType", "name": "FailureType", "autoWidth": true },
                    { "data": "Comment", "name": "Comment", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    { "data": "SeqNo", "name": "SeqNo", "autoWidth": true },
                    { "data": "inWarranty", "name": "inWarranty", "autoWidth": true },
                    { "data": "DanoEmpaque", "name": "DanoEmpaque", "autoWidth": true },
                    { "data": "DanoEquipo", "name": "DanoEquipo", "autoWidth": true },
                    { "data": "CID", "name": "CID", "autoWidth": true },
                    { "data": "Validado", "name": "Validado", "autoWidth": true },
                    { "data": "IntRR", "name": "IntRR", "autoWidth": true },
                    { "data": "ContDiario", "name": "ContDiario", "autoWidth": true }

                    //{ "data": "Bit", "name": "Bit", "autowidth": true },

                    //{
                    //    "render": function (data, type, full, meta) {
                    //        return '<a class="btn btn-info" href="/Demo/Edit/' + full.OrderID + '">Edit</a>';
                    //    }
                    //},

                    //{
                    //    data: null, render: function (data, type, row) {
                    //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.OrderID + "'); >Delete</a>";
                    //    }
                    //},

                ]

            });
        });
    </script>

    @*<script>

        function DeleteData(OrderID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(OrderID);
            }
            else {
                return false;
            }
        }


        function Delete(OrderID) {
            var url = '@Url.Content("~/")' + "Demo/DeleteOrder";
            $.post(url, { ID: OrderID }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Order !");
                    oTable = $('#demoGrid').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }
    </script>*@

</head>
<body>
    <div class="container-fluid">
        <br />
        @*<div style="width:100%; margin:0 auto;">*@
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>OrderDate</th>
                        <th>CustomerType</th>
                        <th>CustomerName</th>
                        <th>Email</th>
                        <th>ProductType</th>
                        <th>ProductModel</th>
                        <th>ProductDescription</th>
                        <th>PartNumber</th>
                        <th>SerialNumber</th>
                        <th>FailureType</th>
                        <th>Comment</th>
                        <th>Status</th>
                        <th>SeqNo</th>
                        <th>inWarranty</th>
                        <th>DanoEmpaque</th>
                        <th>DanoEquipo</th>
                        <th>CID</th>
                        <th>Validado</th>
                        <th>IntRR</th>
                        <th>ContDiario</th>
                        @*<th>Edit</th>
                        <th>Delete</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    @*</div>*@
</body>
</html>