﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowOrderStatus</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>





    <script>
        $(document).ready(function () {
            $("#demoOrder").DataTable({

                "processing": true, // muestra el mensaje de procesando
                "serverSide": true, // calculos del procesamiento (filtrado, paginación y clasificación)
                "filter": true, // habilita el cuadro de busqueda (search box)
                "orderMulti": false, // for disable multiple column at once ordena multiples columnas
                "pageLength": 50,

                "ajax": {
                    "url": "/OrderStatus/LoadOrderStatus",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": [1],
                        "visible": true,
                         "searchable": false
                    },
                    {
                        "targets": [2],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [3],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [4],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                         "targets": [5],
                         "searchable": false,
                         "orderable": false
                    }

                    ],

                "columns": [
                    { "data": "OrderID", "name": "OrderID", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    { "data": "CreateBy", "name": "CreateBy", "autoWidth": true },
                    { "data": "CreateDate", "name": "CreateDate", "autoWidth": true },
                    { "data": "Comment", "name": "Comment", "autoWidth": true },
                    { "data": "UID", "name": "UID", "autoWidth": true }]

            });
        });
    </script>

    @*<script>

        function DeleteData(OrderID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(OrderID);
            }
            else {
                return false;
            }
        }


        function Delete(OrderID) {
            var url = '@Url.Content("~/")' + "OrderStatus/DeleteOrder";
            $.post(url, { ID: OrderID }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Order !");
                    oTable = $('#demoOrder').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }
    </script>*@

</head>
<body>
    <div class="container">
        <br />
        @*<div style="width:100%; margin:0 auto;">*@
        <table id="demoOrder" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>OrderID</th>
                    <th>Status</th>
                    <th>CreateBy</th>
                    <th>CreateDate</th>
                    <th>Comment</th>
                    <th>UID</th>
                </tr>
            </thead>
        </table>
    </div>
    @*</div>*@
</body>
</html>